@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://use.typekit.net/bie6gfv.css");
.first-page {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 100vh;
}
.first-page .container-profile-first-page {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  background-color: #7b75ad;
}
.first-page .container-profile-first-page .profile-box {
  z-index: 1;
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10%;
  width: 70%;
  height: 50vh;
  opacity: 0;
  animation: entrace-profile 1.3s 0.5s forwards;
}
.first-page .container-profile-first-page .profile-box .card-img {
  display: grid;
  grid-template-rows: 80% 20%;
  width: 100%;
  height: 100%;
}
.first-page .container-profile-first-page .profile-box .card-img .container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.first-page .container-profile-first-page .profile-box .card-img .container-img .img-profile {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.first-page .container-profile-first-page .profile-box .card-img .container-btn-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}
.first-page .container-profile-first-page .profile-box .card-img .container-btn-contact .btn-contact-modal {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  width: auto;
  border: solid 2px #000000;
  font-family: "JetBrains Mono", monospace;
  font-size: 1vw;
  font-style: italic;
  font-weight: 900;
  padding: 5px 20px;
}
.first-page .container-profile-first-page .container-objective {
  right: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: #201e27;
}
.first-page .container-profile-first-page .container-objective .list-objective {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #4ed1ad;
  gap: 30px;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  transform: rotate(-90deg);
  width: 100vh;
}
.first-page .container-profile-first-page .container-objective .list-objective .objective {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13vw;
  letter-spacing: 2px;
}
.first-page .container-info-first-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5%;
  height: 100%;
  width: 100%;
  background-color: #dddddd;
}
.first-page .container-info-first-page .halftone {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 40%;
}
.first-page .container-info-first-page .theme {
  position: absolute;
  top: 60px;
  right: 60px;
}
.first-page .container-info-first-page .sobre {
  display: grid;
  grid-template: auto/10% 90%;
  width: 60%;
  z-index: 1;
  opacity: 0;
  animation: entrace-fade-in-top 1.3s 1s forwards;
}
.first-page .container-info-first-page .sobre .sobre-title {
  grid-area: 1/1/2/3;
  font-family: "thrillers", sans-serif;
  font-size: 10vw;
  font-weight: 400;
}
.first-page .container-info-first-page .sobre .sobre-description {
  grid-area: 2/2/3/3;
  padding: 5%;
  border-left: solid #000000;
  font-family: "JetBrains Mono", monospace;
  font-size: calc(0.5em + 0.5vw);
  line-height: 3vh;
}
.first-page .container-info-first-page .sobre .sobre-description strong {
  font-weight: 900;
  color: #201e27;
  background-color: #4ed1ad;
}
.first-page .container-info-first-page .sobre .close-tag {
  grid-area: 3/1/4/3;
  font-family: "thrillers", sans-serif;
  font-size: 10vw;
  font-weight: 400;
}
.first-page .container-info-first-page .container-menu-main {
  position: absolute;
  bottom: 60px;
  right: 60px;
  height: 30vh;
  width: 30%;
  text-align: right;
}
.first-page .container-info-first-page .container-menu-main .menu-main {
  display: flex;
  width: 100%;
  height: 100%;
}
.first-page .container-info-first-page .container-menu-main .menu-main .menu-list-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid #201e27;
  padding: 30px;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: entrace-fade-in-botton 1.3s 1.5s forwards;
}
.first-page .container-info-first-page .container-menu-main .menu-main .menu-list-main::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -9px;
  width: 14px;
  height: 14px;
  border-right: 2px solid #201e27;
  border-bottom: 2px solid #201e27;
  transform: rotate(45deg);
}
.first-page .container-info-first-page .container-menu-main .menu-main .menu-list-main .menu-item-main {
  display: flex;
  justify-content: end;
  align-items: center;
  font-family: "JetBrains Mono", monospace;
  font-size: calc(0.5em + 0.5vw);
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
  border-bottom: 2px solid #000000;
  height: 100%;
  transition: 0.3s;
}
.first-page .container-info-first-page .container-menu-main .menu-main .menu-list-main .menu-item-main:hover {
  color: #7b75ad;
  transition: 0.3;
  transform: translateX(-20px);
}
.first-page .container-info-first-page .container-menu-main .menu-main .menu-list-main .menu-item-main:last-child {
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

@keyframes entrace-fade-in-top {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entrace-fade-in-botton {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entrace-profile {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.first-page * {
  transition: 0.3s;
}

.first-page .dark-container-profile-first-page {
  background-color: #110f16;
}
.first-page .dark-container-profile-first-page .dark-profile-box {
  background-color: #4ed1ad;
}
.first-page .dark-container-profile-first-page .dark-container-objective {
  background-color: #7b75ad;
}
.first-page .dark-container-profile-first-page .dark-container-objective .dark-list-objective {
  color: #000000;
}
.first-page .dark-container-info-first-page {
  background-color: #201e27;
}
.first-page .dark-container-info-first-page .sobre .dark-sobre-title {
  color: #7b75ad;
}
.first-page .dark-container-info-first-page .sobre .dark-sobre-description {
  color: #dddddd;
  border-left: solid #7b75ad;
}
.first-page .dark-container-info-first-page .sobre .dark-sobre-description .dark-strong-description {
  color: #000000;
  background-color: #4ed1ad;
}
.first-page .dark-container-info-first-page .sobre .dark-close-tag {
  color: #7b75ad;
}
.first-page .dark-container-info-first-page .container-menu-main .menu-main .dark-menu-list-main {
  border-right: 2px solid #7b75ad;
}
.first-page .dark-container-info-first-page .container-menu-main .menu-main .dark-menu-list-main::after {
  border-right: 2px solid #7b75ad;
  border-bottom: 2px solid #7b75ad;
}
.first-page .dark-container-info-first-page .container-menu-main .menu-main .dark-menu-list-main .dark-menu-item-main {
  color: #7b75ad;
  border-bottom: 2px solid #7b75ad;
}
.first-page .dark-container-info-first-page .container-menu-main .menu-main .dark-menu-list-main .dark-menu-item-main:hover {
  color: #4ed1ad;
}

.change-theme {
  opacity: 0;
  position: absolute;
}

.change-theme:checked + .theme-label .btn-square {
  transform: translateX(24px);
}

.theme-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  background-color: #000000;
  cursor: pointer;
  position: relative;
  height: 26px;
  width: 50px;
}
.theme-label .fa-sun {
  color: #4ed1ad;
}
.theme-label .fa-moon {
  color: #7b75ad;
}
.theme-label .btn-square {
  background-color: #ffffff;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: 0.3s;
}

html,
body,
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}/*# sourceMappingURL=main.css.map */