@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url("https://use.typekit.net/bie6gfv.css");


@import 'assets/style/first-page';
@import 'assets/style/reset';
@import 'assets/style/variable';
@import 'assets/style/animation';
@import 'assets/style/dark-theme';
@import 'assets/style/btn-theme';
@import 'assets/style/second-page';

.html{
    width: 100vw;
}
body,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}