
// Paleta de cores
$color-1:#e9e9e9;
$color-2:#a3a4a8;
$color-3:#CCCCCC;
$color-4:#2f2a52;
$color-5:#4e4969;
$color-6:#15a7cc;

$font-destaque1: 'Karantina', system-ui;
$font-comum: 'Inter', sans-serif;