@use 'variables';

@mixin font-main {
    color: variables.$color-5;
    font-size: 2vw;
    font-family: variables.$font-destaque1 ;
}

@mixin font-paragraph ($color)  {
    color: $color;
    font-size: 1vw;
    font-family: variables.$font-comum;
}