.change-theme {
  opacity: 0;
  position: absolute;
}

.change-theme:checked + .theme-label .btn-square {
  transform: translateX(24px);
}
.theme-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  background-color: $tirth-color;
  cursor: pointer;
  position: relative;
  height: 26px;
  width: 50px;

  .fa-sun {
    color: $second-color;
  }

  .fa-moon {
    color: $first-color;
  }

  .btn-square {
    background-color: $sixth-color;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: 0.3s;
  }
}
