@import'variable';

.first-page {
    display: flex;
    width: 100%;
    height: 100vh;

    .container-profile-first-page {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        border: SOLID RED;
        background-color: $first-color;

        .profile-box {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $sixth-color;
            padding: 40px;
            width: 70%;
            height: auto;
            .card-img {
                display: flex;
                flex-direction: column;
                justify-content: top;
                align-items: center;
                width: 100%;
                height: 100%;
                border: solid 4px $tirth-color;

                .container-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    overflow: hidden;

                    .img-profile{
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .container-btn-contact{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 20px;
                    width: 100%;

                    .btn-contact-modal{
                        display: block;
                        border: solid 2px $tirth-color;
                        font-family: $secundary-Font;
                        font-style: italic;
                        font-weight: 900;
                        padding: 5px 20px;
                    }
                }
            }
        }
    }

    .container-info-first-page {
        display: flex;
        width: 75%;
        border: SOLID rgb(255, 0, 255);
    }
}
