// scroll do objetivo FRONT END
.container-objective{
    display: flex;
    flex-direction: column;
    justify-content: center; //altura
    align-items: center; //largura
    border: solid red;
    height: 100vh;

    .list-objective{
        display: flex;
        flex-direction: column;
        justify-content: space-between; //altura
        align-items: center; //largura
        height: 100%;
        overflow: hidden;
        background-color: $fourth-color;
        

        .objective{
            transform: rotate(-90deg);
            color: $second-color;
            font-family: $secundary-font;
            animation: scroll-vertical-to-top 5s linear infinite;
        }
    }
}