// tooltip second page

.icon-wrapper-right{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    height: 90px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 3px;
        background-color: $fourth-color;
    }

    .card-tooltip{
        position: relative;
        display: flex;
        width: 35px;
        height: 100%;
    
        .tooltip-target{
            display: flex;
            align-items: flex-start;   
            width: 100%; 
        }

        .alert-tooltip {
            position: absolute;
            top: 0;
            left: 90%;
            font-size: .7em;
            color: $second-color;
        }

        .container-tooltip , .visible-container-tooltip {
            position: absolute;
            transform: translate(0px);
            bottom: 110%;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 5px;
            width: 200px;
            color: $second-color;
            background-color: $tirth-color;

            h3 {
                font-family: $secundary-font;
                font-size: 1em;

            }

            .separador-tooltip{
                border-color: $second-color;
            }

            p {
                font-family: $secundary-font;
                font-size: .7em;
            }
        }
        
        .container-tooltip{
            display: flex;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }

        .visible-container-tooltip{
            opacity: 1;
            visibility: visible;
            transition: 0.3s;
            z-index: 1;
        }
    }
}