// paleta de cores
$first-color:#7b75ad;
$second-color:#4ed1ad;
$tirth-color:#000000;
$fourth-color:#201e27;
$fifth-color:#dddddd;
$sixth-color:#ffffff;

// fonts

$secundary-Font: "JetBrains Mono", monospace;