// paleta de cores
$first-color:#7b75ad;
$second-color:#4ed1ad;
$tirth-color:#000000;
$fourth-color:#201e27;
$fifth-color:#dddddd;
$sixth-color:#ffffff;
$special-color:#110f16;

// fonts
$first-font: "thrillers", sans-serif;
$secundary-font: "JetBrains Mono", monospace;