/* ----------INICIO TABLET----------- */

@media only screen and (min-width: 700px) and (max-width: 1200px) {

    #logoHeader {
        font-size: 0.5rem;
    }
    
    .barraFixa {
    background-color: var(--corTercearia);
    display: grid;
    grid-template-columns: 20vw auto 15vw;
    padding:1rem;
    }

    body {
        display: grid;
        grid-template-areas:
        "navegacao header"
        "navegacao conteudo"
        "info conteudo"
        "footer footer";
        grid-template-columns: 28vw;
        grid-template-rows: 8vh repeat(3, auto);
    }

    .barra-menu-lateral {
        grid-area: navegacao;
        background-color: #3B3947;   
    }

    .conteudo img {
        width: 50%;
    }

    
    .conteudo p {
        font-family: var(--fontComun);
        padding: 0.5vw 2vw;
        border-left: solid var(--corDestaque1);
        max-width: 70%;
    }
}

/* ----------INICIO DESKTOP----------- */

/* @media (max-width: 1400px) {
    .conteudo img {
        width: 30%;
    }
} */





/* ----------INICIO MOBILE----------- */

@media (max-width: 699px){

  

    body {
        display: grid;
        grid-template-areas:
        "header header"
        "navegacao navegacao"
        "conteudo conteudo"
        "info info"
        "footer footer";
        grid-template-columns: 50vw;
        grid-template-rows: 8vh repeat(3, auto);
    }

    /*--------INICIO HEADER---------*/

    .barraFixa {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;

    }
    .socialMidia{
        display: none;
    }

    .barra-menu-lateral > ul{
        display: flex;
    
    }

      /*--------INICIO CONTEUDO---------*/
    
    .conteudo {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: 2rem;
        padding: 2rem 2rem;
    }
    .conteudo img {
        width: 100%;
       }

    .conteudo p {
        font-family: var(--fontComun);
        padding: 0.5vw 2vw;
        border-left: solid var(--corDestaque1);
        max-width: 90%;
    }

    /*--------INICIO CONTUDO DESTAQUE---------*/



    .projetoDestaque > img:nth-child(-n + 2) {
        display: none;
        

    }

    .projetoDestaque > img:nth-child(3) {
        padding: 0;
        border-radius: 2rem;
    }

}