@use 'utils/variables';
@use 'utils/mixin';
@use 'utils/global-style';
@use 'left-bar';
@use 'content.scss';


.container-wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-row: auto;
}

.content{
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    display: flex;
    
}