@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&family=Karantina:wght@300;400;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-row: 1fr;
  width: 100vw;
  height: 100vh;
}
.container-wrapper .left-bar {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px;
  background-color: #e9e9e9;
}
.container-wrapper .left-bar .logo-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #4e4969;
  gap: 10px;
  height: 20%;
}
.container-wrapper .left-bar .logo-contact .logo-header {
  height: auto;
  border-bottom: 3px solid #a3a4a8;
}
.container-wrapper .left-bar .logo-contact .logo-header h2 {
  font-family: "Inter", sans-serif;
  font-size: 1.3vw;
  padding-bottom: 10px;
}
.container-wrapper .left-bar .logo-contact .logo-header h2 .front-end {
  font-style: italic;
  font-size: 1vw;
}
.container-wrapper .left-bar .logo-contact .social-media {
  display: flex;
  font-size: 2rem;
  gap: 20px;
}
.container-wrapper .left-bar .habililitys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 40%;
}
.container-wrapper .left-bar .habililitys .primary-habilitys {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-wrapper .left-bar .habililitys .primary-habilitys h2 {
  color: #4e4969;
  font-size: 2vw;
  font-family: "Karantina", system-ui;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul {
  display: flex;
  gap: 20px;
  font-size: 2rem;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul li:nth-of-type(1) {
  color: #e34c26;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul li:nth-of-type(2) {
  color: #264de4;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul li:nth-of-type(3) {
  color: #efd81d;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul li:nth-of-type(4) {
  color: #cc6699;
}
.container-wrapper .left-bar .habililitys .primary-habilitys ul li:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #e34c26;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  font-size: 1vw;
}
.container-wrapper .left-bar .habililitys .secundary-habilitys {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-wrapper .left-bar .habililitys .secundary-habilitys h2 {
  color: #4e4969;
  font-size: 2vw;
  font-family: "Karantina", system-ui;
}
.container-wrapper .left-bar .habililitys .secundary-habilitys div {
  display: flex;
  gap: 20px;
}
.container-wrapper .left-bar .habililitys .secundary-habilitys div .icon {
  width: 30px;
}
.container-wrapper .left-bar .destaques {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 10px;
  height: 40%;
}
.container-wrapper .left-bar .destaques h2 {
  grid-column: 1/3;
  color: #4e4969;
  font-size: 2vw;
  font-family: "Karantina", system-ui;
}
.container-wrapper .left-bar .destaques .card-container-destaque {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto;
  width: 100%;
  border-radius: 5px;
  gap: 10px;
  padding: 5px;
  background-color: #4e4969;
}
.container-wrapper .left-bar .destaques .card-container-destaque .img-card-destaque {
  grid-column: 1/2;
  grid-row: 1/4;
  overflow: hidden;
}
.container-wrapper .left-bar .destaques .card-container-destaque .img-card-destaque img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.container-wrapper .left-bar .destaques .card-container-destaque .classification {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
}
.container-wrapper .left-bar .destaques .card-container-destaque .classification i {
  color: rgb(216, 185, 11);
}
.container-wrapper .left-bar .destaques .card-container-destaque h3 {
  color: #15a7cc;
}
.container-wrapper .left-bar .destaques .card-container-destaque p {
  color: #CCCCCC;
}/*# sourceMappingURL=style.css.map */